body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


/* Header styles */
header {
    background-color: #fff;
    color: #505f35;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #LOGO {
    height: 50px; 
    margin-right: auto;
}

header h1 {
    margin-top: 70px;
    margin-right: 30%;

}


/* Navigation styles */
nav {
    background-color: #588157;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}


nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.parentContainer{
    display:grid;
    grid-template-columns: auto auto;
    justify-content:center;
    align-content:space-evenly;
    margin: 30px;
    padding: 30px;
  }

img#vicFalls-2{
    float: left;
    width: 110%;
    height: 90%;
    border-radius: 5px;
    margin-right: 20px; 

}

.restOne, h2, .details{
    margin-left: 70px; 
}
.fa-globe{
    color: rgb(98, 98, 234);
    font: 18px;
}

.recommendation{
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    margin-left: 70px;
    margin-bottom: 60px;
}

#first, #rate{
    margin-left: 10px; 
}

label, h3{
    margin-left: 10px;
}

input{
    margin-left: 10px;
    margin-bottom: 10px;
}
.moreButton {
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    width: 25%;
    border-radius: 15px;
    margin-top: -10px;
    margin-left: 40%;
    background-color: white;
    border: 2px solid #588157;
    transition: width 0.3s ease, height 0.3s ease; /* Add transition for smooth effect */

}
  
.moreButton:hover {
    font-size: 14px; 
    background-color: #c0d8c0; 
    border-color: #476747; 
}
nav a:hover {
    color: black;
}

.active {
    background-color: #fff;
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.fa-star, .fa-star-half-stroke{
    color: goldenrod;
}

/* Footer styles */
footer {
    background-color: #588157;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

footer #LOGO {
    height: 50px;
    margin-right: auto;
}
